.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Menu button animation */

/* .nav-buttons {
  display:flex;
  color: var(--Logo);
  font-weight: var(--font-semibold);
  font-family:'Amiko', sans-serif;
  font-size:15px;
  transition: 0.5s;
  padding: 0 0.5rem;
  text-decoration: none;  
  position:relative; 
}

.nav-buttons a{
  padding:5px;
  text-align: center;
  text-decoration: none;
  color:rgb(3, 3, 3);
  margin:0 30px;
  position:relative;
  overflow:hidden;
  z-index:10;
  border-radius:10px;
  transition: transform 0.5s;
}

.nav-buttons a::after{
  content:'';
  width:100%;
  height:100%;
  top:-90px;
  left:0;
  background:linear-gradient(-45deg,#e38f8f, #a9aeea);
  position: absolute;
  transition:0.5s;
  z-index:-1;
}

.nav-buttons a:hover::after{
  top:0px;
}

.nav-buttons a:hover{
  color:rgb(255, 255, 255);
  transform:translateY(-5px);
} */
